* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
}

html, body {

	scroll-behavior: smooth;
	overflow-y: scroll;
	background-color: #3B5C79;

}

.container {

	width: 100%;
}

h5 {

	font-family: 'Satisfy';
}

h3 {

	font-family: 'Caveat';
}

#mission img,
#vision img {

	border: dashed medium snow;
}

/* Nav Bar */

.navbar {

	background-color: #3B5C79;
	opacity: 0.95;
 	position: fixed; 
 	/* Set the navbar to fixed position */
 	top: 0; 
 	/* Position the navbar at the top of the page */
 	height: 60px;
  	width: 100%; /* Full width */
  	transition: top 0.3s; 
  	/* Transition effect when sliding 
  	down (and up) */
  	z-index: 4;

}

.navbar-nav {

	background-color: #3B5C79;
  	z-index: 3;
  	height: 100%;
  	border-radius: 10px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: papayawhip;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #5F9A90;
  width: 90%;
  color: white;
  opacity: .95;
  border-radius: 5px;
}

/* Main content */
/*.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay 
} */


/* Landing */

#jumbo-landing {
	height: 100vh;
	padding-top: 45%;
	padding-bottom: 30%;
	background-image:	

		radial-gradient(
			rgba(220, 250, 270, 0.9),
			rgba(50, 80, 100, 0.4)
			),

		url("../images/bg1.jpg")
		;

	background-size: cover;
	background-position: top;
	margin-top: 0;
	background-repeat: no-repeat;
	border-radius: 0;
} 

/* She'd Create logo 
with CSS text styling */   
.jumbotron h1 {

	letter-spacing: 0px;
	color: snow;
	font-size: 3.4em;
	margin-top: 30%;
	text-shadow: 4px 4px 5px #3B5C79; 
	font-weight: bold;
	border: double thick oldlace;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	padding: 10%;
	padding-top: 23%;
	background-color: steelblue;
	opacity: .8;

}

.jumbotron h3 {

	color: ivory;
	text-shadow: 2px 2px 2px darkslategray;
	margin-top: 10%;
	font-size: 2.2em;

}

.btn {

	color: papayawhip;
	margin-top: 5%;
	margin-bottom: 5%;
	align-content: center;
	text-shadow: 2px 2px 2px sienna;
	font-size: 1em;
	width: 90%;
	border: 1px solid ivory;

}

.btn a {

	text-decoration: none;

}

/* Parallax 1 */
.parallax {
  /* The image used */
  background-image: 

  	linear-gradient(
			rgba(100, 200, 220, 0.4),
			rgba(50, 50, 50, 0.4)
			),

  	url("../images/parallax4.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax 2 */
.parallax2 {
  /* The image used */
  background-image: 

  	linear-gradient(
			rgba(200, 200, 200, 0.4),
			rgba(0, 0, 0, 0.4)
			),

  	url("../images/parallax5.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -10px;
}

/* Parallax 3 */
.parallax3 {
  /* The image used */
  background-image: 

  	linear-gradient(
			rgba(200,200,200,.4),
			rgba(0, 0, 0, 0.4)
			),

  	url("../images/parallax9.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* About */

#jumbo-about {

	height: 90vh;
	padding: 7%;
	margin-top: 3vh;
	background:	

		linear-gradient(
			rgba(70, 120, 150, 0.9),
			rgba(50, 120, 150, 0.9)
			);
	opacity: .95;
	border-radius: 10px;

} 

#jumbo-about > h4 {

	text-align: center;
	color: papayawhip;
}

#jumbo-about > p {

	text-align: justify;
	color: white;
	text-shadow: 2px 2px 2px #232527;
}

#jumbo-about > .btn {

	margin-left: 15px;
	font-size: 1.3em;
	margin-top: 2%;
}

/* Section and Card Labels use h5 */
h5 {

	color: white;
	text-shadow: 3px 3px 3px black;
	border-radius: 5px;
	align-content: center;
	font-size: 1.6em;
	opacity: 1;
	border-radius: 2px;
	padding: 5px;
	align-content: center;
	text-align: center;
	
	
}

.about-image1 {

	width: 325px;
	height: 325px;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10%;
	
}

.about-image2 {

	width: 325px;
	height: 325px;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10%;
}

.about-image1-container {
  position: relative;
  width: 100%;
  
}

.about-image2-container {
  position: relative;
  width: 100%;
  
}

.overlay {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  background-color: #3B5C79;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .8s ease;
  border-radius: 5%;
  border-color: #fff;

}

.about-image1-container:hover .overlay {
  height: 80%;
  width: 95%;
  margin: 5px;
}

.about-image2-container:hover .overlay {
  height: 80%;
  width: 95%;
  margin: 5px;
}


.text-overlay {
	  color: papayawhip;
	  text-shadow: 2px 2px 2px chocolate;
	  font-size: 1.1em;
	  position: absolute;
	  top: 40%;
	  left: 40%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  text-align: justify;
	  background-color: #3B5C79;
	  margin: 15px;
} 

/* Gallery */


#carousel-gallery {

	padding: 5%;
	width:	100%;
	height:	60%; 
	background-color: transparent;
	margin-bottom: 20%;
}

.carousel > p {

	color: white;
	text-shadow: 2px 2px sienna;
}

.card {

	border-radius: 5px;
	margin: auto;
	margin-top: 2px;
	padding-top: 10px;
	background-color: #D1C0A7;
	opacity: 0.9;
	border: 1px solid snow;
}

.card > img {

	width: 250px;
	height: 175px;
}

.card-title {

	font-size: 1.2em;
}

/* Modal */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that 
floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {

  color: white;
  top: 5px;
  right: 15px;
  font-size: 10px;
  margin-bottom: 20px;
  text-align: left;
  
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: darkslategray;
  text-shadow: 2px 2px 2px sienna;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: ivory;
  text-shadow: 2px 2px 2px black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Contact */

#jumbo-contact {

	width: 300px;
	height: 90vh;
	padding: 7%;
	margin-top: 2vh;
	background:	

		linear-gradient(
			rgba(70, 120, 150, 0.9),
			rgba(50, 120, 150, 0.9)
			);
	opacity: .8;
	border-radius: 2px;

} 


#jumbo-contact p {

	text-align: center;
	color: papayawhip;
	text-shadow: 2px 2px 2px darkslategray;
}

.phone {

	padding: 5px;
}

.footer {
	  position: bottom;
	  bottom: 0;
	  width: 100%;
	  height: 60px;
	  background-color: #3B5C79;
	  color: white;
	  text-align: center;
	  opacity: 1;
	  font-size: .75em;
 }


/* XXS Screen iPhone5 360px */

@media only screen and (min-width: 320px) and (max-width: 359px) {

		/* Landing */

	#jumbo-landing {
		height: 100vh;
		padding-top: 5%;
		padding-bottom: 5%;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: snow;
		text-align: center;
		font-size: 3em;
		margin-top: 60%;
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: double thick oldlace;
		border-radius: 125px;
		width: 250px;
		height: 250px;
		padding: 10%;
		padding-top: 22%;
		background-color: steelblue;
		opacity: .8;

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 2px 2px 2px darkslategray;
		margin-top: 10%;
		font-size: 1.4em;

	}

	.btn {

		color: papayawhip;
		margin-top: 5%;
		margin-bottom: 5%;
		align-content: center;
		text-shadow: 2px 2px 2px sienna;
		font-size: .7em;
		width: 90%;
		border: 1px solid ivory;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 90vh;
		width: 48vh;
		padding: 9%;
		margin-top: 3vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;
	}

	#jumbo-about p {

		text-align: justify;
		font-size: .75em;
		color: white;
		text-shadow: 2px 2px 2px #232527;
	}

	#jumbo-about .btn {

		margin-left: 15px;
		font-size: .7em;
		margin-top: 2%;
	}

	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px black;
		border-radius: 5px;
		align-content: center;
		font-size: 1.2em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		align-content: center;
		text-align: center;
		
		
	}

	.about-image1 {

		width: 270px;
		height: 270px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 270px;
		height: 270px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 6px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 270px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  border-color: #fff;

	}

	.about-image1-container:hover .overlay {
	  height: 80%;
	  width: 95%;
	  margin: 5px;
	}

	.about-image2-container:hover .overlay {
	  height: 80%;
	  width: 95%;
	  margin: 5px;
	}


	.text-overlay {
		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: .85em;
		  position: absolute;
		  top: 40%;
		  left: 40%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: justify;
		  background-color: #3B5C79;
		  margin: 10px;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 5%;
		width:	100%;
		height:	60%; 
		background-color: transparent;
		margin-bottom: 20%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		margin: auto;
		margin-top: 2px;
		padding-top: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
	}

	.card > img {

		width: 250px;
		height: 175px;
	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  width: 100%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {

	  color: white;
	  top: 5px;
	  right: 15px;
	  font-size: 10px;
	  margin-bottom: 20px;
	  text-align: left;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: darkslategray;
	  text-shadow: 2px 2px 2px sienna;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: ivory;
	  text-shadow: 2px 2px 2px black;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* Contact */

	#jumbo-contact {

		width: 270px;
		height: 95vh;
		padding: 3%;
		margin-top: 2vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
		font-size: .8em;
	}

	.phone {

		padding: 5px;
	}

	#name, #email {

		width: 200px;
	}

	#comment {

		width: 200px;
		height: 50px;
	}

	iframe {

		width: 200px;
		height: 75px;
	}

	.footer {
		  position: bottom;
		  bottom: 0;
		  width: 100%;
		  height: 60px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .6em;
	 }

}


/* Extra Small Screen 360px */

@media only screen and (min-width: 360px) 
and (max-width: 374px) and (min-height: 640px ){

		/* Landing */

	#jumbo-landing {
		height: 100vh;
		padding-top: 25%;
		padding-bottom: 30%;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: snow;
		font-size: 3.5em;
		margin-top: 18%;
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: double thick oldlace;
		border-radius: 150px;
		width: 300px;
		height: 300px;
		padding: 10%;
		padding-top: 25%;
		background-color: steelblue;
		opacity: .8;

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 2px 2px 2px darkslategray;
		margin-top: 10%;
		font-size: 1.6em;

	}

	.btn {

		color: papayawhip;
		margin-top: 5%;
		margin-bottom: 5%;
		align-content: center;
		text-shadow: 2px 2px 2px sienna;
		font-size: .8em;
		width: 90%;
		border: 1px solid ivory;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 90vh;
		width: 48vh;
		padding: 9%;
		margin-top: 3vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;
	}

	#jumbo-about p {

		text-align: justify;
		font-size: .8em;
		color: white;
		text-shadow: 2px 2px 2px #232527;
	}

	#jumbo-about .btn {

		margin-left: 15px;
		font-size: .9em;
		margin-top: 2%;
	}

	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px black;
		border-radius: 5px;
		align-content: center;
		font-size: 1.6em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		align-content: center;
		text-align: center;
		
		
	}

	.about-image1 {

		width: 325px;
		height: 325px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 325px;
		height: 325px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 3px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 325px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  border-color: #fff;

	}

	.about-image1-container:hover .overlay {
	  height: 80%;
	  width: 98%;
	  margin: 11px;
	}

	.about-image2-container:hover .overlay {
	  height: 80%;
	  width: 98%;
	  margin: 11px;
	}


	.text-overlay {
		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: 1.1em;
		  position: absolute;
		  top: 40%;
		  left: 40%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: justify;
		  background-color: #3B5C79;
		  margin: 15px;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 5%;
		width:	100%;
		height:	60%; 
		background-color: transparent;
		margin-bottom: 20%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		margin: auto;
		margin-top: 2px;
		padding-top: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
	}

	.card > img {

		width: 250px;
		height: 175px;
	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  width: 100%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {

	  color: white;
	  top: 5px;
	  right: 15px;
	  font-size: 10px;
	  margin-bottom: 20px;
	  text-align: left;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: darkslategray;
	  text-shadow: 2px 2px 2px sienna;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: ivory;
	  text-shadow: 2px 2px 2px black;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* Contact */

	#jumbo-contact {

		width: 300px;
		height: 95vh;
		padding: 5%;
		margin-top: 2vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
		font-size: .8em;
	}

	.phone {

		padding: 5px;
	}

	#name, #email {

		width: 200px;
	}

	#comment {

		width: 200px;
		height: 60px;
	}

	iframe {

		height: 100px;
	}

	.footer {
		  position: bottom;
		  bottom: 0;
		  width: 100%;
		  height: 60px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .75em;
	 }


}


/* Small Screen iPhone 6/7/8
and iPhone 6/7/8 PLUS 360px x 667px/756px */

@media only screen and (min-width: 360px)  
and (min-height: 667px) and (max-height: 736px) {

		/* Landing */

	#jumbo-landing {
		height: 100vh;
		padding-top: 50%;
		padding-bottom: 0%;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: snow;
		font-size: 3.5em;
		margin-top: 0;
		margin-left: 25%
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: double thick oldlace;
		border-radius: 150px;
		width: 300px;
		height: 300px;
		padding: 10%;
		padding-top: 24%;
		background-color: steelblue;
		opacity: .8;

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 2px 2px 2px darkslategray;
		margin-top: 10%;
		font-size: 1.6em;

	}

	.btn {

		color: papayawhip;
		margin-top: 5%;
		margin-bottom: 5%;
		align-content: center;
		text-shadow: 2px 2px 2px sienna;
		font-size: .8em;
		width: 90%;
		border: 1px solid ivory;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 90vh;
		width: 45vh;
		padding: 9%;
		margin-top: 3vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;
	}

	#jumbo-about p {

		text-align: justify;
		font-size: .8em;
		color: white;
		text-shadow: 2px 2px 2px #232527;
	}

	#jumbo-about .btn {

		margin-left: 15px;
		font-size: .9em;
		margin-top: 2%;
	}

	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px black;
		border-radius: 5px;
		align-content: center;
		font-size: 1.6em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		align-content: center;
		text-align: center;
		
		
	}

	.about-image1 {

		width: 325px;
		height: 325px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 325px;
		height: 325px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 4px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 325px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  border-color: #fff;

	}

	.about-image1-container:hover .overlay {
	  height: 80%;
	  width: 95%;
	  margin: 5px;
	}

	.about-image2-container:hover .overlay {
	  height: 80%;
	  width: 95%;
	  margin: 5px;
	}


	.text-overlay {
		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: 1.1em;
		  position: absolute;
		  top: 40%;
		  left: 40%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: justify;
		  background-color: #3B5C79;
		  margin: 15px;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 5%;
		width:	100%;
		height:	60%; 
		background-color: transparent;
		margin-bottom: 20%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		margin: auto;
		margin-top: 2px;
		padding-top: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
	}

	.card > img {

		width: 250px;
		height: 175px;
	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  width: 100%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {

	  color: white;
	  top: 5px;
	  right: 15px;
	  font-size: 10px;
	  margin-bottom: 20px;
	  text-align: left;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: darkslategray;
	  text-shadow: 2px 2px 2px sienna;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: ivory;
	  text-shadow: 2px 2px 2px black;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* Contact */

	#jumbo-contact {

		width: 300px;
		height: 95vh;
		padding: 5%;
		margin-top: 2vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
		font-size: .8em;
	}

	.phone {

		padding: 5px;
	}

	#name, #email {

		width: 200px;
	}

	#comment {

		width: 200px;
		height: 60px;
	}

	iframe {

		height: 100px;
	}

	.footer {
		  position: bottom;
		  bottom: 0;
		  width: 100%;
		  height: 60px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .75em;
	 }


}


/* Pixel 2 & Pixel 2 XL */

@media only screen and (min-width: 411px)  
and (min-height: 731px) and (max-height: 823px) {

		/* Landing */

	#jumbo-landing {
		height: 100vh;
		padding-top: 50%;
		padding-bottom: 0%;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: snow;
		font-size: 3.5em;
		margin-top: 0;
		margin-left: 11%;
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: double thick oldlace;
		border-radius: 150px;
		width: 300px;
		height: 300px;
		padding: 10%;
		padding-top: 23%;
		background-color: steelblue;
		opacity: .8;

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 2px 2px 2px darkslategray;
		margin-top: 10%;
		font-size: 1.8em;

	}

	.btn {

		color: papayawhip;
		margin-top: 5%;
		margin-bottom: 5%;
		align-content: center;
		text-shadow: 2px 2px 2px sienna;
		font-size: .8em;
		width: 90%;
		border: 1px solid ivory;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 90vh;
		width: 42vh;
		padding: 10%;
		margin-top: 1vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;
	}

	#jumbo-about p {

		text-align: justify;
		font-size: .87em;
		color: white;
		text-shadow: 2px 2px 2px #232527;
	}

	#jumbo-about .btn {

		margin-left: 15px;
		font-size: .9em;
		margin-top: 2%;
	}

	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px black;
		border-radius: 5px;
		align-content: center;
		font-size: 1.6em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		align-content: center;
		text-align: center;
		
		
	}

	.about-image1 {

		width: 325px;
		height: 325px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 325px;
		height: 325px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  margin-left: 17px;

	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  margin-left: 17px;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 3px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 325px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  border-color: #fff;

	}

	.about-image1-container:hover .overlay {
	  height: 80%;
	  width: 85%;
	  margin: 5px;
	}

	.about-image2-container:hover .overlay {
	  height: 80%;
	  width: 85%;
	  margin: 5px;
	}


	.text-overlay {
		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: 1.1em;
		  position: absolute;
		  top: 40%;
		  left: 40%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: justify;
		  background-color: #3B5C79;
		  margin: 15px;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 5%;
		width:	100%;
		height:	60%; 
		background-color: transparent;
		margin-bottom: 20%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		margin: auto;
		margin-top: 2px;
		padding-top: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
	}

	.card > img {

		width: 250px;
		height: 175px;
	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  width: 100%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {

	  color: white;
	  top: 5px;
	  right: 15px;
	  font-size: 10px;
	  margin-bottom: 20px;
	  text-align: left;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: darkslategray;
	  text-shadow: 2px 2px 2px sienna;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: ivory;
	  text-shadow: 2px 2px 2px black;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* Contact */

	#jumbo-contact {

		width: 300px;
		height: 95vh;
		padding: 20px;
		margin-top: 2vh;
		margin-left: 15%;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
		font-size: .8em;

	}

	.phone {

		padding: 5px;
	}

	#name, #email {

		width: 200px;
	}

	#comment {

		width: 200px;
		height: 60px;
	}

	iframe {

		height: 100px;
		height: 150px;
		margin-top: 10px;
	}

	.footer {
		  position: bottom;
		  bottom: 0;
		  width: 100%;
		  height: 60px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .75em;
	 }

}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	/* Landing */

	#jumbo-landing {
		height: 100vh;
		padding-top: 40vh;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: snow;
		font-size: 4.4em;
		margin-top: -30px;
		margin-left: 150px;
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: double thick oldlace;
		width: 400px;
		height: 400px;
		border-radius: 200px;
		padding: 10%;
		padding-top: 16%;
		background-color: steelblue;
		opacity: .8;
		text-align: center;

	

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 5px 5px 5px darkslategray;
		margin-top: 3%;
		font-size: 3.5em;
		font-family: 'Caveat';

	}

	.btn {

		color: papayawhip;
		margin-top: 2%;
		text-shadow: 2px 2px 2px sienna;
		font-size: 1.4em;
		border: 1px solid ivory;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 95%;
		width: 23em;
		padding: 12%;
		margin-top: 10%;
		margin-bottom: 30%;
		margin-left: 35px;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;
	}

	#jumbo-about > p {

		text-align: justify;
		color: white;
		text-shadow: 2px 2px 2px #232527;
	}

	#jumbo-about > .btn {

		margin-left: 15px;
		font-size: 1em;
		margin-top: 4%;
	
	}

	#vision, #mission {

		margin-top: 40px;
		text-align: center;
		margin-left: 5px;

	}




	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px black;
		border-radius: 5px;
		font-size: 1.8em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		text-align: right;
		width: 100%;
		
	}

	.about-image1 {

		width: 250px;
		height: 275px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 250px;
		height: 275px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 1px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 250px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  border-color: #fff;

	}

	.about-image1-container:hover .overlay {
	  height: 80%;
	  width: 240px;
	  margin: 5px;
	}

	.about-image2-container:hover .overlay {
	  height: 80%;
	  width: 240px;
	  margin: 5px;
	}


	.text-overlay {
		  width: 160px;
		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: 1em;
		  position: absolute;
		  top: 40%;
		  left: 40%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: justify;
		  background-color: #3B5C79;
		  margin: 15px;
		  text-align: center;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 5%;
		width:	100%;
		height:	60%; 
		background-color: transparent;
		margin-bottom: 20%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		width: 225px;
		margin: 10px;
		margin-top: 15px;
		margin-right: 15px;
		padding: 10px;
		padding-top: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
		
	}

	.card > img {

		width: 200px;
		height: 170px;
	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  width: 100%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {
	  color: ivory;
	  top: 5px;
	  right: 15px;
	  font-size: 20px;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: white;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: darkslategray;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}


	/* Contact */

	#jumbo-contact {

		width: 45vh;
		margin-left: 33%;
		height: 85vh;
		padding: 10%;
		margin-top: 3vh;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
	}

	#name, #email {

		width: 300px;

	}

	#comment {

		width: 300px;
		height: 150px;
	}

	.phone {

		padding: 5px;
	}

	iframe {

		width: 300px;
		height: 175px;
	}

	.footer {
		  position: bottom;
		  margin-top: 3px;
		  padding-top: 8px;
		  bottom: 0;
		  width: 100%;
		  height: 65px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .75em;
	 }
}

/* iPad Pro view */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {

	/* Landing */

	#jumbo-landing {
		height: 100vh;
		padding-top: 40vh;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: snow;
		font-size: 5.3em;
		margin-top: -60px;
		margin-left: 25%;
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: double thick oldlace;
		width: 500px;
		height: 500px;
		border-radius: 250px;
		padding: 10%;
		padding-top: 16%;
		background-color: steelblue;
		opacity: .85;
		align-self: auto;

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 5px 5px 5px darkslategray;
		margin-top: 2%;
		font-size: 3.2em;

	}

	.btn {

		color: papayawhip;
		margin-top: 2%;
		text-shadow: 2px 2px 2px sienna;
		font-size: 1.7em;
		border: 1px solid ivory;
		text-align: center;
		width: 100%;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 95vh;
		width: 95%;
		padding: 15%;
		margin-top: 15%;
		margin-bottom: 30%;
		margin-left: 6%;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;

	}

	#jumbo-about > p {

		text-align: justify;
		color: white;
		text-shadow: 2px 2px 2px #232527;
		font-size: 1.5em;

	}

	#jumbo-about > .btn {

		margin-left: 15px;
		font-size: 1.4em;
		margin-top: 2%;
	}

	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px darkslategray;
		border-radius: 5px;
		align-content: center;
		font-size: 2.4em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		align-content: center;
		text-align: center;
		
	}

	#vision, #mission {

		margin-top: 40px;
		text-align: center;
		margin-left: 10px;

	}

	.about-image1 {

		width: 350px;
		height: 375px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 350px;
		height: 375px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 2px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 350px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  

	}

	.about-image1-container:hover .overlay {
	  height: 80%;
	  width: 340px;
	  margin: 5px;
	}

	.about-image2-container:hover .overlay {
	  height: 80%;
	  width: 340px;
	  margin: 5px;
	}


	.text-overlay {

		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: 1.6em;
		  position: absolute;
		  top: 45%;
		  left: 40%;
		  width: 70%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: center;
		  background-color: #3B5C79;
		  margin: 20px;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 0%;
		width:	80%;
		height:	60%; 
		background-color: transparent;
		margin-bottom: 25%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		width: 250px;
		margin: auto;
		margin-right: 15px;
		margin-top: 15px;
		padding: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
		
	}

	.card > img {

		width: 220px;
		height: 175px;
	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 100px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 0;
	  width: 100%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {
	  color: ivory;
	  top: 5px;
	  right: 15px;
	  font-size: 20px;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: white;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: darkslategray;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}


	/* Contact */

	#jumbo-contact {

		width: 45vh;
		height: 90vh;
		padding: 10%;
		margin-top: 3vh;
		margin-left: 33%;
		margin-top: 10%;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
	}

	#name, #email {

		width: 400px;
	}

	#comment {

		width: 400px;
		height: 250px;
	}


	.phone {

		padding: 5px;
	}

	iframe {

		margin-top: 5px;
		width: 400px;
		height: 300px;
	}

	.footer {
		  position: bottom;
		  bottom: 0;
		  width: 100%;
		  height: 65px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .75em;
	 }
}


/* Small Desktop View */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

	/* Landing */

	#jumbo-landing {
		height: 100vh;
		margin-top: 5vh;
		padding-top: 20%;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: ivory;
		font-size: 4em;
		margin-top: -60px;
		margin-left: 35%;
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: 1px double oldlace;
		width: 350px;
		height: 350px;
		border-radius: 175px;
		padding: 5%;
		padding-top: 9%;
		background-color: steelblue;
		opacity: .8;
		align-self: auto;

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 5px 5px 5px darkslategray;
		margin-top: 2%;
		font-size: 2.8em;

	}

	.btn {

		color: papayawhip;
		margin-top: 2%;
		text-shadow: 2px 2px 2px sienna;
		font-size: 1.1em;
		border: 1px solid ivory;
		width: 100%;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 95vh;
		width: 100%;
		padding: 10%;
		margin-top: 15%;
		margin-bottom: 30%;
		margin-left: 6%;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;
	}

	#jumbo-about > p {

		text-align: justify;
		color: white;
		text-shadow: 2px 2px 2px #232527;
		font-size: 1.1em;
	}

	#jumbo-about > .btn {

		margin-left: 15px;
		font-size: 1.4em;
		margin-top: 2%;
	}

	#vision, #mission {

		margin-left: 65px;
		margin-top: 20px;
	}

	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px darkslategray;
		border-radius: 5px;
		align-content: center;
		font-size: 1.7em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		align-content: center;
		text-align: center;
		
	}

	.about-image1 {

		width: 300px;
		height: 225px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 300px;
		height: 225px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 1px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 300px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  

	}

	.about-image1-container:hover .overlay {
	  height: 75%;
	  width: 290px;
	  margin: 5px;
	}

	.about-image2-container:hover .overlay {
	  height: 75%;
	  width: 290px;
	  margin: 5px;
	}


	.text-overlay {

		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: 1.1em;
		  position: absolute;
		  top: 45%;
		  left: 45%;
		  width: 70%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: center;
		  background-color: #3B5C79;
		  margin: 15px;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 0%;
		width:	60%;
		height:	40%; 
		background-color: transparent;
		margin-bottom: 25%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		width: 320px;
		height: 290px;
		margin-top: 20px;
		margin-right: 20px;
		/*margin-left: 10vh; */
		padding: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
		
	}

	.card > img {

		width: 290px;
		height: 200px;

	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 65px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: black;
	  margin: auto;
	  padding-left: 15%;
	  padding-right: 15%;
	  padding-bottom: 20%;
	  width: 100%;
	  max-width: 1200px;

	}

	/* The Close Button */
	.close {
	  color: ivory;
	  top: 5px;
	  right: 15px;
	  font-size: 20px;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: white;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: darkslategray;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}


	/* Contact */

	#jumbo-contact {

		width: 80vh;
		height: 95vh;
		padding-top: 3%;
		margin-top: 3vh;
		margin-left: 70%;
		margin-top: 10%;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
	}

	#name, #email {

		width: 350px;
	}

	#comment {

		width: 350px;
		height: 50px;
	}


	.phone {

		padding: 3px;
	}

	iframe {

		margin-top: 3px;
		width: 350px;
		height: 150px;
	}

	.footer {
		  position: bottom;
		  bottom: 0;
		  width: 100%;
		  height: 65px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .75em;
	 }
}


/* Large Desktop View */
@media only screen and (min-width: 1400px) {

	/* Landing */

	#jumbo-landing {
		height: 100vh;
		margin-top: 5vh;
		padding-top: 47vh;
		background-image:	

			linear-gradient(
				rgba(200, 240, 270, 0.4),
				rgba(50, 80, 100, 0.4)
				),

			url("../images/bg1.jpg")
			;

		background-size: cover;
		background-position: top;
		margin-top: 0;
		background-repeat: no-repeat;
		border-radius: 0;
	} 

	/* She'd Create logo 
	with CSS text styling */   
	.jumbotron h1 {

		letter-spacing: 0px;
		color: snow;
		font-size: 4.8em;
		margin-top: -150px;
		margin-left: 30%;
		text-shadow: 4px 4px 5px #3B5C79; 
		font-weight: bold;
		border: double thick oldlace;
		width: 400px;
		height: 400px;
		border-radius: 200px;
		padding: 5%;
		padding-top: 9%;
		background-color: steelblue;
		opacity: .85;
		align-self: auto;

	}

	.jumbotron h3 {

		color: ivory;
		text-shadow: 5px 5px 5px darkslategray;
		margin-top: 2%;
		font-size: 2.8em;

	}

	.btn {

		color: papayawhip;
		margin-top: 2%;
		text-shadow: 2px 2px 2px sienna;
		font-size: 1.4em;
		border: 1px solid ivory;
		width: 100%;

	}

	.btn a {

		text-decoration: none;

	}

	/* Parallax 1 */
	.parallax {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(100, 200, 220, 0.4),
				rgba(50, 50, 50, 0.4)
				),

	  	url("../images/parallax4.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}

	/* Parallax 2 */
	.parallax2 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200, 200, 200, 0.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax5.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  top: -10px;
	}

	/* Parallax 3 */
	.parallax3 {
	  /* The image used */
	  background-image: 

	  	linear-gradient(
				rgba(200,200,200,.4),
				rgba(0, 0, 0, 0.4)
				),

	  	url("../images/parallax9.jpg");

	  /* Full height */
	  height: 100%;

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}



	/* About */

	#jumbo-about {

		height: 95vh;
		width: 100%;
		padding: 13%;
		margin-top: 15%;
		margin-bottom: 30%;
		margin-left: 6%;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .95;
		border-radius: 10px;

	} 

	#jumbo-about > h4 {

		text-align: center;
		color: papayawhip;
	}

	#jumbo-about > p {

		text-align: justify;
		color: white;
		text-shadow: 2px 2px 2px #232527;
		font-size: 1.25em;
	}

	#jumbo-about > .btn {

		margin-left: 15px;
		font-size: 1.4em;
		margin-top: 2%;
	}

	#vision, #mission {

		margin-left: 50px;
		margin-top: 20px;
	}

	/* Section and Card Labels use h5 */
	h5 {

		color: white;
		text-shadow: 3px 3px 3px darkslategray;
		border-radius: 5px;
		align-content: center;
		font-size: 1.8em;
		opacity: 1;
		border-radius: 2px;
		padding: 5px;
		align-content: center;
		text-align: center;
		
	}

	.about-image1 {

		width: 320px;
		height: 280px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
		
	}

	.about-image2 {

		width: 320px;
		height: 280px;
		margin-top: 5px;
		padding: 10px;
		border-radius: 10%;
	}

	.about-image1-container {
	  position: relative;
	  width: 100%;
	  
	}

	.about-image2-container {
	  position: relative;
	  width: 100%;
	  
	}

	.overlay {
	  position: absolute;
	  bottom: 1px;
	  left: 0;
	  right: 0;
	  background-color: #3B5C79;
	  overflow: hidden;
	  width: 320px;
	  height: 0;
	  transition: .8s ease;
	  border-radius: 5%;
	  

	}

	.about-image1-container:hover .overlay {
	  height: 80%;
	  width: 310px;
	  margin: 5px;
	}

	.about-image2-container:hover .overlay {
	  height: 80%;
	  width: 310px;
	  margin: 5px;
	}


	.text-overlay {

		  color: papayawhip;
		  text-shadow: 2px 2px 2px chocolate;
		  font-size: 1.2em;
		  position: absolute;
		  top: 45%;
		  left: 45%;
		  width: 70%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: center;
		  background-color: #3B5C79;
		  margin: 15px;
	} 

	/* Gallery */


	#carousel-gallery {

		padding: 0%;
		width:	60%;
		height:	40%; 
		background-color: transparent;
		margin-bottom: 25%;
	}

	.carousel > p {

		color: white;
		text-shadow: 2px 2px sienna;
	}

	.card {

		border-radius: 5px;
		width: 350px;
		height: 340px;
		margin-top: 25px;
		margin-right: 25px;
		padding: 10px;
		background-color: #D1C0A7;
		opacity: 0.9;
		border: 1px solid snow;
		
	}

	.card > img {

		width: 320px;
		height: 250px;

	}

	.card-title {

		font-size: 1.2em;
	}

	/* Modal */

	.row > .column {
	  padding: 0 8px;
	}

	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Create four equal columns that 
	floats next to eachother */
	.column {
	  float: left;
	  width: 25%;
	}

	/* The Modal (background) */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  padding-top: 80px;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: black;
	}

	/* Modal Content */
	.modal-content {
	  background-color: black;
	  margin: auto;
	  padding-left: 5%;
	  padding-right: 5%;
	  padding-bottom: 10%;
	  width: 100%;
	  max-width: 1200px;
	}

	/* The Close Button */
	.close {
	  color: ivory;
	  top: 5px;
	  right: 15px;
	  font-size: 20px;
	  
	}

	.close:hover,
	.close:focus {
	  color: #999;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  margin-top: -50px;
	  color: white;
	  font-weight: bold;
	  font-size: 20px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	  -webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: darkslategray;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}


	/* Contact */

	#jumbo-contact {

		width: 80vh;
		height: 90vh;
		padding-top: 4%;
		margin-top: 3vh;
		margin-left: 65%;
		margin-top: 10%;
		background:	

			linear-gradient(
				rgba(70, 120, 150, 0.9),
				rgba(50, 120, 150, 0.9)
				);
		opacity: .8;
		border-radius: 2px;

	} 


	#jumbo-contact p {

		text-align: center;
		color: papayawhip;
		text-shadow: 2px 2px 2px darkslategray;
	}

	#name, #email {

		width: 400px;
	}

	#comment {

		width: 400px;
		height: 70px;
	}


	.phone {

		padding: 3px;
	}

	iframe {

		margin-top: 3px;
		width: 400px;
		height: 150px;
	}

	.footer {
		  position: bottom;
		  bottom: 0;
		  width: 100%;
		  height: 65px;
		  background-color: #3B5C79;
		  color: white;
		  text-align: center;
		  opacity: 1;
		  font-size: .75em;
	 }
}








